{% extends "main/base.html" %}

{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"> 
{% endblock css %}

{% block content %}
<h1 class="mt-5 pt-5 title" style="color: white;">Востребованность</h1>

<section style="font-size: 18px; font-weight: bold; color: white">
  <p>
    На основании предоставленных данных можно заключить, что Front-End разработка представляет собой перспективное направление. 
    Растущий спрос на веб-приложения и веб-сайты, вместе с постоянно развивающимися технологиями и инструментами, открывают множество возможностей для специалистов в этой области. 
    Компании все больше уделяют внимание пользовательскому интерфейсу и удобству взаимодействия, что подчеркивает важность Front-End разработчиков. 
    Это направление продолжает развиваться и остается актуальным на протяжении многих лет, предлагая стабильные перспективы для профессионального роста и развития карьеры.
  </p>
  <div>
    <img src="static/deps/images/year_graph.png" alt="у вас плохой интернет а не у меня сайт!!!!">
  </div>
  <p>
    Графики заработной платы и доли ваканский по городам
  </p>
  
  <h2 class="section-title">Распределение зарплат и вакансий по городам</h2>
  <p>Этот график показывает распределение зарплат и вакансий в различных городах. В левом секторе изображения представлены уровни зарплат, обозначенные горизонтальными столбиками, а в правом секторе - круговая диаграмма с процентами вакансий по городам.</p>
  
  <div class="section">
      <h2 class="section-title">Уровни зарплат по городам:</h2>
      <ul class="cities">
          <li class="city"><strong>Минск:</strong> высокий уровень зарплат.</li>
          <li class="city"><strong>Москва:</strong> занимает второе место.</li>
          <li class="city"><strong>Киев:</strong> на третьем месте.</li>
          <li class="city"><strong>Санкт-Петербург и Новосибирск:</strong> занимают последующие позиции.</li>
          <li class="city"><strong>Екатеринбург, Краснодар, Казань, Нижний Новгород и Самара:</strong> примерно на одном уровне.</li>
      </ul>
  </div>
  
  <div class="section">
      <h2 class="section-title">Процент вакансий по городам:</h2>
      <ul class="cities">
          <li class="city"><strong>Москва:</strong> лидирует по количеству вакансий.</li>
          <li class="city"><strong>Санкт-Петербург и Новосибирск:</strong> на втором и третьем месте соответственно.</li>
          <li class="city"><strong>Екатеринбург, Казань, Ростов-на-Дону, Алматы и Краснодар:</strong> имеют равномерное распределение.</li>
          <li class="city"><strong>Минск:</strong> занимает значительную часть.</li>
          <li class="city"><strong>Другие города:</strong> объединены в одну категорию.</li>
      </ul>
  </div>
  
  <p>Этот график позволяет увидеть динамику рынка труда, давая возможность соискателям и работодателям принять обоснованные решения.</p>
</section>

<div class="col-lg-2">
    <!-- Оставить пока -->
</div>

{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
  <div class="container">
      <p class="m-0 text-end text-white">Copyright &copy; Порсев Михаил Владимирович 2025 РИ-230911</p>
  </div>
</footer>
{% endblock footer %}
