{% extends "main/base.html" %}

{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"> 
{% endblock css %}

{% block content %}
<h1 class="mt-5 pt-5 title" style="color: white;">География</h1>

<section style="font-size: 18px; font-weight: bold; color: white">
  <p>
    На основании предоставленных данных можно заключить, что Front-End разработка представляет собой перспективное направление. 
    Растущий спрос на веб-приложения и веб-сайты, вместе с постоянно развивающимися технологиями и инструментами, открывают множество возможностей для специалистов в этой области. 
    Компании все больше уделяют внимание пользовательскому интерфейсу и удобству взаимодействия, что подчеркивает важность Front-End разработчиков. 
    Это направление продолжает развиваться и остается актуальным на протяжении многих лет, предлагая стабильные перспективы для профессионального роста и развития карьеры.
  </p>
  <div>
    <img src="static/deps/images/city_graph.png" alt="у вас плохой интернет а не у меня сайт!!!!">
  </div>
  <p>
    Графики заработной платы и доли ваканский по городам
  </p>

  <div class="chart-container">
    <h2>Уровень зарплат по городам</h2>
    <p>
        Горизонтальная гистограмма показывает, что самый высокий уровень зарплат наблюдается в Минске, затем следуют Москва и Киев. Остальные города, такие как Санкт-Петербург, Новосибирск, Екатеринбург, Краснодар, Казань, Нижний Новгород и Самара, демонстрируют чуть меньшие, но все еще конкурентоспособные значения зарплат.
    </p>
  </div>

  <div class="chart-container">
    <h2>Доля вакансий по городам</h2>
    <p>
        Круговая диаграмма иллюстрирует, что наибольшую долю вакансий занимает Москва. За ней следуют Санкт-Петербург, Новосибирск и Екатеринбург. Остальные города, включая Казань, Ростов-на-Дону, Алматы, Краснодар и Минск, также представляют значительное число вакансий. Остальные города объединены в категорию "Другие".
    </p>
  </div>

  <p>
    Эти графики предоставляют ценную информацию для соискателей, помогая им ориентироваться на рынке труда и принимать обоснованные решения при выборе города для работы или переезда.
  </p>
</section>

<div class="col-lg-2">
    <!-- Оставить пока -->
</div>

{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
  <div class="container">
      <p class="m-0 text-end text-white">Copyright &copy; Порсев Михаил Владимирович 2025 РИ-230911</p>
  </div>
</footer>
{% endblock footer %}
