{% extends "main/base.html" %}

{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"> 
{% endblock css %}

{% block content %}
<h1 class="mt-5 pt-5 title" style="color: white;">Front-End разработка</h1>
<p class="description" style="font-size: 18px; font-weight: bold; color: white;">
  Front-End разработка включает создание пользовательского интерфейса и взаимодействие пользователя с веб-сайтом.
  Это включает работу с HTML, CSS и JavaScript для создания интерактивных и привлекательных страниц.
  Front-End разработчики обеспечивают, чтобы сайт выглядел и работал хорошо на всех устройствах и браузерах.
  Для обучения Front-End разработке можно воспользоваться следующими ресурсами:
</p>
<ul class="resource-list" style="font-size: 18px; font-weight: bold; color: blue;">
  <li><a href="https://www.freecodecamp.org/" style="color: blue;">FreeCodeCamp</a></li>
  <li><a href="https://www.codecademy.com/" style="color: blue;">Codecademy</a></li>
  <li><a href="https://www.udemy.com/" style="color: blue;">Udemy</a></li>
</ul>
<div>
  <img src="static/deps/images/photo2.png" alt="Картинка фронт енд пасхалко">
</div>
<section style="font-size: 18px; font-weight: bold; color: white">
  <h2>Дополнительная информация о Front-End разработке</h2>
  <p>
    Front-End разработчики используют различные инструменты и фреймворки для создания современных веб-приложений. Некоторые популярные фреймворки включают:
  </p>
  <ul>
    <li>React</li>
    <li>Vue.js</li>
    <li>Angular</li>
  </ul>
  <p>
    Эти фреймворки помогают упростить процесс разработки, обеспечивая более структурированный и модульный подход к созданию веб-приложений. 
    Они также помогают в управлении состоянием приложения и улучшении производительности.
  </p>
</section>

{% endblock content %}

{% block footer %}{% endblock footer %}
