{% extends "main/base.html" %}

{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"> 
{% endblock css %}

{% block content %}
<h1 class="mt-5 pt-5 title" style="color: white;">Высокочастотные навыки</h1>

<section style="font-size: 18px; font-weight: bold; color: white">
  <p>В быстро меняющемся мире высокие технологии и эффективные коммуникации становятся ключевыми элементами успешной карьеры. Наш анализ показал, что существует несколько навыков, которые особенно востребованы на рынке труда. Рассмотрим наиболее высокочастотные навыки, которые приведут вас к успеху в 2025 году.</p>
  <ol>
      <li><strong>Грамотная речь</strong> – основа успешного общения и взаимодействия. Способность ясно и точно выражать свои мысли привлекает работодателей и делает вас ценным сотрудником.</li>
      <li><strong>CSS</strong> – язык, позволяющий стилизовать веб-страницы и улучшать пользовательский опыт. Веб-дизайн и разработка сайтов требуют этого навыка.</li>
      <li><strong>Linux</strong> – операционная система, широко используемая в IT-индустрии. Знание Linux открывает доступ к множеству возможностей в сфере разработки и системного администрирования.</li>
      <li><strong>Пользователь ПК</strong> – базовые навыки работы с компьютером являются основой для многих профессий.</li>
      <li><strong>HTML</strong> – язык разметки, необходимый для создания веб-страниц. Знание HTML является основой для любой веб-разработки.</li>
      <li><strong>Английский язык</strong> – международный язык бизнеса и технологий. Владение английским языком значительно расширяет ваши возможности на глобальном рынке труда.</li>
      <li><strong>Работа в команде</strong> – способность эффективно сотрудничать с коллегами является ключевым навыком для достижения общих целей.</li>
      <li><strong>Git</strong> – система контроля версий, используемая для управления кодом и совместной работы над проектами.</li>
      <li><strong>SQL</strong> – язык запросов к базам данных, необходимый для работы с данными и их анализа.</li>
      <li><strong>JavaScript</strong> – один из самых популярных языков программирования, используемый для создания интерактивных веб-страниц и приложений.</li>
  </ol>
  <div>
    <img src="static/deps/images/top_skills.png" alt="у вас плохой интернет а не у меня сайт!!!!">
  </div>
  <p>Эти навыки помогут вам выделиться на рынке труда и строить успешную карьеру в 2025 году. Начните изучать и развивать их уже сегодня, чтобы быть впереди!</p>
<div class="col-lg-2">
    <!-- Оставить пока -->
</div>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
  <div class="container">
      <p class="m-0 text-end text-white">Copyright &copy; Порсев Михаил Владимирович 2025 РИ-230911</p>
  </div>
</footer>
{% endblock footer %}
